{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Menu</title>
    <!-- <link rel="stylesheet" href="{% static 'food_menu/styles.css' %}"> -->
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-100">
    <nav>
        <div class="flex justify-between items-center p-4 bg-green-600">
            <a href="{% url 'food_menu:index' %}" class="text-5xl font-bold text-yellow-400">Crave<span class="text-orange-500 font-bold">.</span></a>
            <div class="space-x-6 text-white">
                <a href="http://">Menu</a>
                <a href="http://">Catergories</a>
                <a href="http://">Orders</a>
                <a href="http://">Contact</a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>