{% extends 'food_menu/base.html' %}
{% load static %}

{% block content %}
<div class="relative">
    <img src="{% static 'food_menu/images/hero_section.jpg' %}"
         alt="Food Menu"
         class="w-full h-80 md:h-80
lg:h-screen object-cover">

    
    <div class="absolute inset-0 bg-black/30"></div>

    
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-4">
        <h1 class="text-white text-5xl md:text-5xl lg:text-7xl font-bold mb-3">
            Your cravings start here
        </h1>

        <p class="text-white text-md text-sm text-lg mb-6">
            Discover delicious meals made for every craving.
        </p>

        <a href="http://"
           class="bg-orange-500 hover:bg-orange-600 text-white font-semibold px-6 py-3 rounded-full transition">
            Explore Menu
        </a>
    </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  md:grid-cols-2 gap-8 p-10 items-stretch">
   <div class="flex flex-col">
 <h1 class="text-orange-400 text-7xl font-bold mb-3">
            What are you craving?
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aliquam accusantium perferendis tenetur veniam laboriosam qui dolorem explicabo sunt dolorum! Soluta minus ea in, distinctio voluptate necessitatibus repellendus quo dignissimos!</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aliquam accusantium perferendis tenetur veniam laboriosam qui dolorem explicabo sunt dolorum! Soluta minus ea in, distinctio voluptate necessitatibus repellendus quo dignissimos!</p>
</div>
    {% for item in food_items %}

    <div class="bg-white rounded-xl shadow-md hover:shadow-xl transition duration-300 hover:-translate-y-1 overflow-hidden">

        <img src="{{ item.image }}"
             alt="{{ item.description }}"
             class="w-full h-56 object-cover hover:scale-105 transition duration-300">

        <div class="p-5">

            <h1 class="text-3xl font-bold">
                <a href="{% url 'food_menu:detail' item.id %}">
                    {{ item.name }}
                </a>
            </h1>

            <p class="text-gray-600 mt-2">
                {{ item.description }}
            </p>

            <p class="text-gray-500 font-semibold text-lg mt-3">
                MWK{{ item.price|floatformat:2 }}
            </p>

            <a href="{% url 'food_menu:detail' item.id %}"
               class="inline-block mt-5 bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded transition duration-300">
                View Details
            </a>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}