{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Menu</title>
    <link rel="stylesheet" href="{% static 'food_menu/styles.css' %}">
</head>
<body>
    {% for item in food_items %}
    <div class="food-item">
        <h1><a href="{% url 'detail' item.id %}">{{ item.name}}</a></h1>
        <p>{{ item.description }}</p>
        <p class="price">MWK{{ item.price|floatformat:2 }}</p>
    </div>
    {% endfor %}
</body>
</html>