{% extends 'food_menu/base.html' %}
{% load static %}

    {% block content %}
    <img src="{% static 'food_menu/images/hero_section.jpg' %}" alt="Food Menu" class="w-full h-100 object-cover">    <div>
         {% for item in food_items %}
        <div>

            <div class="m-10 flex rounded-sm justify-center">
                <div>
                <img src="{{ item.image }}" alt="{{ item.description }}" class="w-64 rounded-sm">
                    </div>
            <div class="mx-16">

                <div>
                     <h1 class="text-3xl font-bold"><a href="{% url 'food_menu:detail' item.id %}">{{ item.name}}</a></h1>

                </div>

                <div>
                    <p>{{ item.description }}</p>
                    <p class="mb-3 text-orange-400 font-bold">MWK{{ item.price|floatformat:2 }}</p>
                </div>

                <div>
                    <a href="{% url 'food_menu:detail' item.id %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 mb-5 rounded">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}
