html, body {
    background-color: #6cadee;
    color: #212529;
    font-family: Arial, sans-serif;
}

.food-item{
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.food-item h1 a{
    margin-top: 0;
    color: #333;
    text-decoration: none;
}

.food-item p {
    margin: 5px 0;
    color: #555;
}

.food-item:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.food-item:active{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.price {
    font-weight: bold;
    color: #000;
}